.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.mr20{
	margin-right:20px;
}
.mr17{
	margin-right:17px;
}
.mr19{
	margin-right:19px;
}
.mb14{
	margin-bottom:14px;
}
.mb46{
	margin-bottom:46px;
}